<div class="container">
	<header>
		<h1 class="header center"><%= @post.title %></h1>
		<h5 class="center"><%= @post.created_at.strftime('%A, %B %d') %></h5>
	</header>
	<hr class="hr">
	<div>
		<%= markdown @post.content %>
	</div>

	<% if user_signed_in? %>
		<div id="admin_links">
			<%= link_to "Edit", edit_post_path(@post) %>
			<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
		</div>
	<% end %>

	<%= render 'disqus' %>

</div>