<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= favicon_link_tag "icon.ico" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_header">
  	<nav>
      <%= link_to "personal", root_path %>
      <%= link_to "portfolio", projects_path %>  

  		<a href="#">pictures</a>

      <%= link_to "ponderings", posts_path %>
  	</nav>
  </header>
  
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <div id="navblock"></div>


  <div id="main_content">

    <div id="contact_link">
      <%= link_to "contact", new_contact_path %>
      <nav>
      <a href="http://instagram.com/jameschen208" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/jameschen208" target="_blank"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/jameschen208" target="_blank"><i class="fa fa-github-square"></i></a>
    </nav>
    </div>

    <%= yield %>

  </div>
  
</body>
</html>
